/* .backpic{
    background-color: lightgoldenrodyellow;
    height: auto;
} */

body{
    background-color: goldenrod;
    color: #ffffff;

    background-size: 100%;
    background-position: top;
}

#logo{
    height: 60px;
    width: 100px;
}
